@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  background-color: #151515;
  font-family: "Poppins", sans-serif;
}

        ::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background: transparent;
        }

@media screen and (min-width: 800px){
  .app {
    width: 50%;
    border-radius: 8px;
    background-color: #202020;
    margin: 5% auto;
  }
}
  
@media screen and (max-width: 800px){
  .app {
    width: 90%;
    border-radius: 8px;
    background-color: #202020;
    margin: 5% auto;
  }
}
.down {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fondo {
  width: 100%;
  height: 7cm;
  border-radius: 8px 8px 0px 0px;
  background-image: url(https://psodt.xyz/fokiu/banner.webp);
  background-size: cover;
}

.fondo::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background-image: url(https://psodt.xyz/fokiu/me.png);
  background-size: cover;
  border-radius: 100%;
  margin: 20px;
  position: relative;
  outline: solid 5px #202020;
  top: 50%;
}
.foto {
  border: solid 10px #202020;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  position: relative;
  left: 20px;
  top: -84px;
}

.i {
  width: 150px;
  height: 30px;
  background-color: #272727;
  border-radius: 6px;
}
.usuarioArea {
  padding: 20px;
  margin-top: 10px;
}

.nombre {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.user {
  color: gray;
  font-weight: bold;
}

.infoDiv {
  padding: 20px;
  text-align: center;
}
.categoria {
  color: gray;

  font-weight: bold;
}

.ln {
  height: 1px;
  background-color: #303030;
  margin-top: 10px;
  margin-bottom: 10px;
}

.descripcion {
  text-align: left;
}

.descSpan {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: white;
}
.linkSPan {
  font-weight: bold;
  color: gray;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  background-image: linear-gradient(to right, #00ff6a, #ffffff, #3d2a2a, #ffffff, #ff0000, #00ff80, #00ff6a); /* Definir un gradiente horizontal de colores */
  -webkit-background-clip: text;
  color: transparent; /* Hacer el texto transparente */
  background-size: 200% 100%; /* Asegurarse de que el gradiente sea el doble de ancho del área de texto */
  animation: rainbowBackground 5s linear infinite; /* Aplicar la animación "rainbowBackground" durante 5 segundos, repetir infinitamente */
  font-size: 20px; /* Tamaño inicial de la fuente */
  transition: color 0.3s, font-size 0.3s; /* Transiciones suaves para color y tamaño de fuente */
  background-size: 200% 100%; /* Asegurarse de que el gradiente sea el doble de ancho del área de texto */
  animation: rainbowBackground 5s linear infinite; /* Aplicar la animación "rainbowBackground" durante 5 segundos, repetir infinitamente */

}

/* .principal {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  background-image: linear-gradient(to left, #ff0000, #ff7a7a, #ffffff, #3a2a2a, #ffffff, #00b37a, #006847); /* Definir un gradiente horizontal de colores */
  /* -webkit-background-clip: text; */
  /* color: transparent; /* Hacer el texto transparente */
  /* background-size: 50% 100%; /* Asegurarse de que el gradiente sea el doble de ancho del área de texto */
  /* animation: rainbowBackground 5s linear infinite; Aplicar la animación "rainbowBackground" durante 5 segundos, repetir infinitamente */ */
}



@keyframes rainbowBackground {
  0% {
    background-position: 0 0; /* Comenzar desde el extremo izquierdo */
  }
  100% {
    background-position: 200% 0; /* Moverse completamente hacia la derecha */
  }
}

a:hover {
  color: #003366;
  font-size: 30px;
  transition: color 0.3s, font-size 0.3s;
  animation: rainbowText 4s;
}
@keyframes rainbowText {

  0% {
    color: #0088FF;
  }
  20% {
    color: #004181; /* Color después del 20% de la animación */
  }
  100% {
    color: #003366; /* Color final */
  }
}


.png {
  position: absolute;
  left: 5px;
  height: 35px;
  width: 35px;
}
.btn {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background: #272727;
  border-radius: 6px;

  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  transition: 0.8s;
}
.btnP {
  margin-top: 0px;
  margin-right: 5px;
  padding: 3px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}
.btn:hover {
  background: #303030;
}
.btn:active {
  background: #292929;
}
