body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #000;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden;
}
.txt{
    color: #fff;
    background: #000;
    font-size: 150px;
    font-weight: bold;
}
.txt:before{
    content: 'me';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}
255, 0, 64) 97.84374999999999%);
}

